/* Grundläggande stilar för sidokroppen */
body {
  margin: 0;
  padding: 0;
  background-color: rgb(227, 186, 52);
  color: #333;
}

/* Stilar för navigeringsfältet */
.navbar {
  background-color: rgb(192, 62, 34);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
}

/* Stilar för navigeringslänkar */
.nav-link {
  color: rgb(24, 24, 24);
  text-decoration: none;
  text-align: center;
  font-family: 'Caprasimo', serif;
  font-size: 150%;
  padding: 0.75rem 1rem;
}

/* Stilar för logotyp */
.logo {
  position: absolute;
  top: 10px;
  left: 15vw;
  text-decoration: none;
}

.logo img {
  max-height: 110px;
  cursor: pointer;
}

/* Stilar för banner */
.banner {
  height: 18vh;
  position: relative;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Stilar för texter och sökfält */
.restask {
  font-size: 25px;
  font-family: system-ui, Roboto, sans-serif;
  margin-left: 5%;
  margin-top: 3%;
}

.addask {
  font-size: 20px;
  font-family: system-ui, Roboto, sans-serif;
  margin-left: 5%;
  margin-top: -1%;
}

.search-bar {
  width: 500px;
  height: 40px;
  border-radius: 20px;
  border: 0px solid #1b1b1b;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px 1px rgba(104, 104, 104, 0.8);
  background-color: #c7c7c7;
  outline: none;
  margin-left: 3%;
  margin-top: -3%;
}

/* Stilar för röd behållare med bilder och text */
.red-div {
  background-color: rgb(192, 62, 34);
  border-radius: 20px;
  padding: 20px;
  color: rgb(24, 24, 24);
  width: 30%;
  height: 50%;
  margin-top: 1%;
  margin-left: 5%;
  font-size: 150%;
  font-family: 'Caprasimo', serif;
}

.red-div h2 {
  margin-top: 0;
  font-size: 1.5vw;
}

.red-div img {
  width: 40%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  border: 2px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 5vw;
}

.red-div p {
  margin-top: 20px;
  flex: 1;
  margin-right: 10px;
  margin-left: px;
  font-size: 1vw;
}

/* Stilar för flexcontainer och citatsektion */
.bubble-container-flex {
  display: flex;
  justify-content: flex-start;
}

.quote-container {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 1rem;
  height: 135px;
  margin-left: -7%;
}

.quote-text {
  font-size: 1.2vw;
  line-height: 1.5;
  margin: 0;
}

.quote-attribution {
  font-size: 0.9rem;
  margin: 0.5rem 0 0 0;
}

/* Stilar för linjeskift */
br {
  display: block;
  margin: 0.2rem 0;
}

/* Stilar för bild av Gustavo */
.Gustavo {
  width: 30%;
  margin-left: 5%;
}

/* Stilar för menycontainer och knappar */
.container {
  display: flex;
  padding: 10px;
  margin-left: 15%;
  margin-top: 3%;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  width: 15%;
  transition: transform 0.3s, border 0.3s;
}

/* Gör att knappen förstoras och får en border när musen är över den */
.button-container button:hover {
  transform: scale(1.1);
  border: 4px solid #380c0e;
  animation: colorFade 1s ease-in-out forwards;

}

.big-button {
  background-color: rgb(192, 62, 34);
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 150px;
  font-size: 40px;
}

/* Keyframe animationen */
@keyframes colorFade {
  from {
    background-color: #eb9696; 
  }
  to {
    background-color: #e74c3c; 
  }
}

/* Stilar för menycontainer och menyobjekt */
.menu-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  background-color: rgb(192, 62, 34);
  float: left;
  width: 60%;
  padding: 10px;
  border-radius: 15px;
}

.img-and-text {
  display: flex;
  align-items: center;
}

.menu-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 15px;
  overflow: hidden;
  justify-content: center;
}

.menu-item h3 {
  margin: 0;
}

.menu-item-img {
  width: 6vw;
  height: 8vw;
  border-radius: 10%;
  border: 3px solid #380c0e;
  object-fit: cover;
  
}

/* Gör att opaciteten minskar när musen är över bilden */
.menu-item-img:hover {
  opacity: 0.7;
  border-bottom: 7px solid #1b1b1b;
}

/* Stilar för popup-fönster och overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  text-align: center;
}

.popup a.close {
  display: inline-block;
  padding: 10px 20px;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.overlay:target {
  display: block;
}

.order-button{
  background-color: rgb(0, 140, 255);
  color: white;
  border-radius: 10px;
  margin-left: 5px;
}

.menu-item-pop-up {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 100;
}

.menu-item-pop-up p {
  margin: 0;
}

.menu-item-pop-up button {
  margin-top: 10px;
}

.red-div3 {
  background-color: rgb(192, 62, 34);
  border-radius: 20px;
  padding: 20px;
  color: rgb(24, 24, 24);
  width: 33%;
  margin-top: 1%;
  font-size: 150%;
  font-family: 'Caprasimo', serif;
  margin-left: 6vw;
}
.red-div2 {
  width: 33%;
  height: 25%;
  padding: 20px;
  margin-left: 4vw;
  background-color: rgb(192, 62, 34);
  margin-top: 1%;
  border-radius: 5%;
  font-size: 150%;
  font-family: 'Caprasimo', serif;
  color: #1b1b1b;
}

.menu-items {
  display: flex;
  margin-top: 20px;
}

.order-total {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  
}

.total{
  display: flex;
  justify-content: space-between;
  color: white;
}

.red-div img {
  width: 8vw;
  height: 10vw;
}

.menu-item {
  margin-left: 20px;
}

.order-container {
  display: flex;
}

.remove-btn {
  display: block;
  margin-left: 80%;
  margin-top: -30px;
  padding: 10px 20px;
  background-color: rgb(0, 55, 235);
  color: #fff;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}